* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4CAF50;
  color: #333;
  padding-top: 80px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed; /* Fix header at the top */
  top: 0; /* Distance from top */
  width: 100%; /* Full width */
  z-index: 999; /* Ensure it's above other content */
}

header h1 {
  font-size: 2em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 40px 0;
  text-align: center;
}

section h2 {
  margin-bottom: 20px;
  color: #fff;
}

.project {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px; /* Added rounded corners to project boxes */
}

.experience {
  margin-bottom: 20px;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius:
}

.about, .contact, .events {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: left; /* Align text to the left */
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
