* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #4CAF50;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  font-size: 2em;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  padding: 40px 0;
  text-align: center;
}

section h2 {
  margin-bottom: 20px;
  color: #fff;
}

.project {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px; 
}

.experience {
  margin-bottom: 20px;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius:
}

.about, .contact, .events {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: left; 
}
footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}
